.recipe-card {
  background-color: #272727;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.recipe-card img {
  width: 250px;
  height: 250px;
  display: block;
  object-fit: contain;
  object-position: center;
}
